body {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png");
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p {
  color: #F1CF24;
}

.star-wars {
  width: 1000px;
  height: 1000px;
  margin: 100px auto;
  text-align: justify;
  transform: perspective(400px) rotateX(15deg);
}

.a-long-time-ago p {
  margin-top: 300px;
  text-align: center;
  font-size: 32px;
  font-family: sans-serif;
  color: #4bd5ee;
  opacity: 0;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-name: a-long-time-ago;
}

@keyframes a-long-time-ago {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.crawl {
  position: relative;
  transform-origin: 50% 100%;
  font-size: 80px;
  animation-name: starwars;
  animation-duration: 30s;
  animation-timing-function: linear;
}

@keyframes starwars {
  0% {
    top: 500px;
    transform: rotateX(25deg) translateZ(0);
  }

  100% {
    top: -5000px;
    transform: rotateX(25deg) translateZ(1000px);
  }
}
